/* add home page styles here */
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
main {
    /* background-image: url(../assets/background.png); */
    background-image: url(../assets/movies.jpeg);
    background-size: cover;
    height: 640px;
    align-content: center;
    position: relative;
    gap: 20px;
}
.film {
    border: double yellow;
    color: yellow;
    /* grid-area: ; */
    border-radius: 5px;
    padding: 10px; 
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.film a {
    color: yellow;
   margin:10px;
}
#film-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border:2em;
}
img {
    width: 100px;
    height: 100px;
}
